@import "./assets/scss/sp_variables";
@import "./assets/scss/mixin";
@import "./assets/fonts/stylesheet.css";


body{
  font-family: $objective;
  text-rendering: optimizeLegibility !important; 
  -webkit-font-smoothing: antialiased !important; 
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  text-decoration: none;
}

a,p,ul,li,h1,h2,h3,h4,h5,h6{
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
}

.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
